body {
    background-color: lightcyan;
}

h1 {
    font-style: italic;
    font-size: 100px;
    color: black;
}

h2 {
    font: optional;
    font-weight: lighter;
    background-color: lightblues;
    color: rgba(233, 102, 14, 0.493);
    font-size: 50px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: pink;
    border-width: 5px;
    width: 5%;
}

a {
    font-style: italic;
    font-size: 100px;
    color: black;
}

img:hover {
    background-color: goldenrod;
}

.circular {
    border-radius: 10%;
}

.demo {
    border-top: 100px solid bisque;
    height: 300px;
}

@keyframes grow {
    0% {
        font-size: 0;
    }
    100% {
        font-size: 40px;
    }
}

.demo:hover .grows {
    animation-name: grow;
    animation-duration: 3s;
}

.demo:hover .growsandstays {
    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.box {
    background-color: rebeccapurple;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    animation-name: rotate;
    animation-duration: 10s;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}